@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }

  * {
    border-color: #1e293b;
  }

  body {
    background-color: #020617;
    color: #f8fafc;
    min-height: 100vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
